
/data/all_old.zip
/data/1791.zip
/data/voie.zip
/data/strict_addressing.csv
/data/bottins_prep.pkl
/data/bottins_tagged_prep.pkl
/data/unique_aligned.pkl
/data/unique_aligned_tagged.pkl
/.ipynb_checkpoints
/__pycache__
/old
/figures

*.cpg
*.prj
*.shp
*.shx
*.dbf
*.sbx
*.pdf
*.TXT
*.doc
*.docx
*.qpj
*.xml
*.sbn

Enriching-RICH-Data-main/data/outcome_of_current_project/paris_jobs_with_tags_richelieu_project.zip
Enriching-RICH-Data-main/data/strict_addressing.csv
