
/data/all_old.zip
/data/1791.zip
/data/voie.zip
/data/strict_addressing.csv
/data/bottins_prep.pkl
/data/bottins_tagged_prep.pkl
/data/unique_aligned.pkl
/data/unique_aligned_tagged.pkl
/.ipynb_checkpoints
/__pycache__
/old

*.cpg
*.prj
*.shp
*.shx
*.dbf
*.sbx
*.pdf
*.TXT
*.doc
*.docx
*.qpj
*.xml
*.sbn

